@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Comfortaa:wght@300..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

body {
	background: black;
	font-family: 'Chilanka';
	overflow: hidden;
}

.mochi-title {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 50px;
	width: 500px;
}

.mochi-wrapper {
	position: relative;
	display: block;
	margin: 0 auto;
	top: calc(50vh - 250px);
}

.mochi {
	position: relative;
	display: block;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	transform: scale(1.25) translateX(0px);
	z-index: 9
}

.the-canvas {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 6px;
	width: 125px;
/*	height: 100px;*/
	height: 0px;
	opacity: 0;
	transition: 0.25s transform ease, 0.3s opacity ease, 0.2s height ease;
	z-index: 0;
/*	clip-path: ellipse(50%, 50%);*/
/*	clip-path: circle(50%);*/
/*	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);*/
	clip-path: polygon(50% 0, 0% 100%, 100% 100%, 50% 0);
	background: transparent;
}

.move-text {
	position: absolute;
	bottom: 40px;
	color: white;
	opacity: 0;
	text-align: center;
	width: 100%;
	transition: 0.25s ease;
	font-size: 20px;
}

.move {
	opacity: 0;
	transition: 0.5s ease;
}

#mochi-components {
	display: none;
}

.sound {
	display: none;
}

.path-1 {
/*	animation: 2s ease 0s rain infinite;*/
}

.circ-2 {
	position: relative;
	left: 100px;
	border: 1px solid black;
/*	cx: ;*/
}

@keyframes rain {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

@media (max-width: 800px) and (min-width: 200px) {
	.mochi-title {
		top: 30px;
		width: 80%;
	}

	.mochi-wrapper {
		top: calc(50vh - 250px);
	}

	.mochi-svg {
		transform: scale(1) translateX(7px);
		-webkit-transform: scale(1) translateX(7px);
	}

	.move-text {
		font-size: 20px;
		bottom: 20px;
	}
}