@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Comfortaa:wght@300..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

body {
	background: black;
	font-family: 'Chilanka';
	overflow: hidden;
}

.mochi-title {
	position: relative;
	display: block;
	margin: 0 auto;
	top: 50px;
	width: 500px;
}

.mochi {
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	top: calc(50vh - 115px);
	transform: scale(1.25) translateX(5px);
	z-index: 9

}

.move-text {
	position: absolute;
	bottom: 40px;
	color: white;
	opacity: 0;
	text-align: center;
	width: 100%;
	transition: 0.25s ease;
	font-size: 20px;
}

.move {
	opacity: 0;
	transition: 0.5s ease;
}

.the-canvas {
	position: absolute;
	display: block;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	bottom: 240px;
	width: 100px;
	height: 100px;
	opacity: 0;
	transition: 0.25s transform ease, 0.3s opacity ease;
	z-index: 0;
	clip-path: circle(50%);
}

#mochi-components {
	display: none;
}

.sound {
	display: none;
}

.path-1 {
/*	animation: 2s ease 0s rain infinite;*/
}

.circ-2 {
	position: relative;
	left: 100px;
	border: 1px solid black;
/*	cx: ;*/
}

@keyframes rain {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

@media (max-width: 800px) and (min-width: 200px) {
	.mochi-title {
		top: 100px;
		width: 80%;
	}

	.mochi-svg {
		transform: scale(1.0) translateX(3px);
		top: calc(50vh - 100px);
	}

	.move-text {
		font-size: 22px;
	}
}